@font-face {
  font-family: "Avenir";
  src: url("../font/Avenir/AvenirNextRoundedStd-Reg.ttf");
}
@font-face {
  font-family: "Myriad";
  src: url("../font/Myriad/MYRIADPRO-REGULAR.woff");
}
@font-face {
  font-family: "Proxima";
  src: url("../font/Proxima/proximanova_regular.ttf");
}
